<div id="ad-card-bg" class="bg-backgroundTile mt-8 mx-80">
    <div id="ad-card" class="m-10 pb-24">
        <h2 id="band/musician name" class="text-lg font-medium text-center py-2">{{ ad.title | uppercase}} recherche {{ ad.seeking | uppercase }} </h2>
        <div id="style/posted at" class="flex justify-between pb-1">
            <p>{{ ad.style }}</p>
            <p>Mis en ligne le {{ ad.createdAt | date: 'd MMMM yyyy' }}</p>
        </div>
        <div id="picture" class="w-6/6 h-96 z-1 relative bg-black ">
            <img [src]="ad.image" [alt]="title" class="object-cover w-full h-full">
        </div>

        <div id="ad" class="h-2/5 mx-12 -my-4 p-4 relative z-10 bg-backgroundMain">
            <p id="ad-text" class="p-2">{{ ad.description }}</p>
        </div>




    </div>
</div>
