<div class = "card">
    Crée ton compte !
    <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
        <label for="userName">Nom d'utilisateur :</label><br>
        <input type="text" id="userName" placeholder="name@mail.com" name="userName" ngModel required class="field">
        <label for="email">Adresse e-mail :</label><br>
        <input type="text" id="email" placeholder="e-mail" name="email" ngModel required email class="field">
        <label for="password">Mot de passe (minimum 8 caractères, un chiffre, un caractère spécial):</label><br>
        <input type="password" id="password" placeholder="Mot de passe" name="password" ngModel required class="field">
        <label for="confirmPassword">Confirmer le mot de passe :</label><br>
        <input type="password" placeholder="Mot de passe" name="confirmPassword" ngModel required class="field">
        <button type="submit" [disabled]="signupForm.form.invalid" class = "button">S'inscrire</button>
    </form>
    <div *ngIf="hasError">{{ error }}</div>
</div>
